<h1 style="text-align: center">Time to start a workout!</h1>
<section class="new-training" fxLayout fxLayoutAlign="center">
     <div 
    fxLayout="row wrap" 
    fxLayout.lt-sm="column" 
    fxLayoutGap="12px" 
    fxLayoutAlign="flex-start">

        <mat-card fxFlex="0 1 calc(33.3% - 12px)"
        fxFlex.lt-md="0 1 calc(50% - 12px)"
        fxFlex.lt-sm="100%" *ngFor="let exercise of exercises$ | async" >
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{exercise.name}}</mat-card-title>
              <mat-card-subtitle><strong>Muscle:</strong> {{exercise.muscle}}</mat-card-subtitle>
            </mat-card-header>
          <img mat-card-image [src]="'../../../../../assets/' + exercise.imageURL" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions fxLayout fxLayoutAlign="center" >
              <button mat-raised-button color="primary" fxFlex="100px" (click)="onStartTraining(exercise.id)">Start</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
</section>
