.welcome {
  text-align: center;
  margin: 20px;
  box-sizing: border-box;
}

.banner{
  margin: 20px;
  width: 33%;
  font-size: 20px;
}

img{
  width: 100%;
}

@media (max-width: 990px) 
{
  .banner{
    width: 50%;
    margin: 5px;
   font-size: 14px;
  }
}

@media (max-width: 599px) 
{
  .banner{
    width: 90%;
    font-size: 18px;
  }
}
