<div  style="text-align: center;">
  <h1 style="font-size: 50px;">Fitness tracker</h1>
</div>

<div class="welcome" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <div class="banner">
    <h1>ACTIVITY</h1>
    <p>Stay active and enjoy better health and more fun!</p>
  <img src="{{'../../../../assets/activity.jpg'}}" >
  </div>

  <div class="banner">
    <h1>CHALLENGES</h1>
    <p>Never stop! Dive into new challenges every day</p>
    <img src="{{'../../../../assets/challenges.jpg'}}" >
  </div>

  <div class="banner">
    <h1>COMMUNITY</h1>
    <p>Get to know other people who share your passion!</p>
    <img src="{{'../../../../assets/comunity.jpg'}}" >
  </div>

</div>
